@page
@model demoTest.Pages.ConatctModel
@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <form method="post" onsubmit="saveDataLocalStorage() ; showLoader();">
        <div class="w-25 text-center">
            <label>Name</label>
            <input type="text" name="Name" class="form-control" />
        </div>
        <div class="w-25">
            <label>Email</label>
            <input type="email" name="Email" class="form-control" />
        </div>
        <div class="w-25">
            <label>Phone</label>
            <input type="text" name="Phone" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="loader" class="spinner-border text-primary text-center" role="status" style="display:none;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <script>
            function saveDataLocalStorage() {
            // Collect form values
            const name = document.getElementById("Name").value;
            const email = document.getElementById("Email").value;
            const phone = document.getElementById("Phone").value;
            console.log(name,email,phone,"=============================")
            // Save to localStorage
            localStorage.setItem("Name", name);
            localStorage.setItem("Email", email);
            localStorage.setItem("Phone", phone);
        }
        function showLoader() {
            document.getElementById("loader").style.display = "block";
        }
    </script>
</div>
